xsh16ws/WebContent/wsdl/UserWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://server.ws.xsh16.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://server.ws.xsh16.com" xmlns:intf="http://server.ws.xsh16.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://server.ws.xsh16.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="add">
    <complexType>
     <sequence>
      <element name="num1" type="xsd:int"/>
      <element name="num2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addResponse">
    <complexType>
     <sequence>
      <element name="addReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="save">
    <complexType>
     <sequence>
      <element name="user" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="saveResponse">
    <complexType>
     <sequence>
      <element name="saveReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="saveRequest">

      <wsdl:part element="impl:save" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saveResponse">

      <wsdl:part element="impl:saveResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addRequest">

      <wsdl:part element="impl:add" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part element="impl:addResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UserWebService">

      <wsdl:operation name="add">

         <wsdl:input message="impl:addRequest" name="addRequest">

       </wsdl:input>

         <wsdl:output message="impl:addResponse" name="addResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="save">

         <wsdl:input message="impl:saveRequest" name="saveRequest">

       </wsdl:input>

         <wsdl:output message="impl:saveResponse" name="saveResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserWebServiceSoapBinding" type="impl:UserWebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="save">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saveRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="saveResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserWebServiceService">

      <wsdl:port binding="impl:UserWebServiceSoapBinding" name="UserWebService">

         <wsdlsoap:address location="http://localhost/xsh16ws/services/UserWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
